<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://chemcollective.org/chem/jsvlab/bundled/911.css" rel="stylesheet">
        <script src="https://chemcollective.org/chem/jsvlab/bundled/850.js"></script>
        <script src="https://chemcollective.org/chem/jsvlab/bundled/526.js"></script>
        <script src="https://chemcollective.org/chem/jsvlab/bundled/911.js"></script>
        <script src="https://chemcollective.org/chem/jsvlab/bundled/lib.js"></script>
        <title>{{ title }}</title>
        {% for style in styles %}
            <link rel="stylesheet" href="/css/{{ style }}">
        {% endfor %}
        <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6WGFZM6DVM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6WGFZM6DVM');
</script>
    </head>
    <body>
    <div class="container">
        {{ content | safe }}
    </div>
    </body>
    <script type="module" src="/js/{{ js }}"></script>
</html>