<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <link
  rel="stylesheet"
  href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css"/>
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/pdf-lib@1.4.0/dist/pdf-lib.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.js"></script>
        <!-- add after bootstrap.min.js -->
        <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" integrity="sha384-GvrOXuhMATgEsSwCs4smul74iXGOixntILdUW9XmUC6+HX0sLNAK3q71HotJqlAn" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js" integrity="sha384-cpW21h6RZv/phavutF+AuVYrr+dA8xD9zs6FwLpaCct6O9ctzYFfFr4dgmgccOTx" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
          // customised options
          // • auto-render specific keys, e.g.:
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
              {left: '\\(', right: '\\)', display: false},
              {left: '\\[', right: '\\]', display: true}
          ],
          // • rendering keys, e.g.:
          throwOnError : false
        });
    });
</script>
        <link rel="stylesheet" href="/css/group-site.css">
        <title>{{ title }}</title>
        {% for style in styles %}
            <link rel="stylesheet" href="/css/{{ style }}">
        {% endfor %}

        <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6WGFZM6DVM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6WGFZM6DVM');
</script>
    </head>
    <body>
    <!-- Navigation -->
    <body data-spy="scroll" data-target="#toc">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="/che120"><i class="bi-house"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item" id="nav-Home">
                  <a class="nav-link" href="/che120">CHE 120
                  </a>
                </li>
                <li class="nav-item" id="nav-d2l">
                  <a class="nav-link" href="https://d2l.mountunion.edu/d2l/home/58942">D2L</a>
                </li>
                <li class="nav-item" id="nav-aktiv">
                  <a class="nav-link" href="https://app.aktiv.com/assignments/homework">Aktiv</a>
                <li class="nav-item" id="nav-Research">
                  <a class="nav-link" href="/calendar">Dr. Dwyer's Calendar</a>
                </li>
            </div>
          </nav>
    <div class="container-lg">
        <div class="row">
            <div class="col-sm-3">
                <h6>Table of Contents</h6>
                <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
            </div>
            <div class="col-sm-9">
              {{ content | safe }}
            </div>
        </div>
        <footer><img src="/img/Mount-Union-Logo.jpg" alt="Mount Union Logo" style="max-height: 72px;"></footer>
    </div>
    </body>
        <!-- To automatically render math in text elements, include the auto-render extension: -->

    <script type="module" src="/js/{{ js }}"></script>
        <script>
        const activeEl = document.getElementById("nav-"+ "{{ nav }}");
        activeEl.classList.add("active");
        activeEl.children[0].innerHTML += '<span class="sr-only">(current)</span>';
    </script>
</html>