<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://66b268cafb7fc00008b288f1--nifty-newton-c83258.netlify.app/990-ad246ce262bea75d93e0.js"></script><script src="https://66b268cafb7fc00008b288f1--nifty-newton-c83258.netlify.app/526-2ab1d3475c35ab8befd6.js"></script><script src="https://66b268cafb7fc00008b288f1--nifty-newton-c83258.netlify.app/823-802ad0485331662e7a66.js"></script><script src="https://66b268cafb7fc00008b288f1--nifty-newton-c83258.netlify.app/lib-e61b7527e74230df7c5e.js"></script><link rel="stylesheet" href="https://66b268cafb7fc00008b288f1--nifty-newton-c83258.netlify.app/823.css">
        <title>{{ title }}</title>
        {% for style in styles %}
            <link rel="stylesheet" href="/css/{{ style }}">
        {% endfor %}
        <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6WGFZM6DVM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6WGFZM6DVM');
</script>
    </head>
    <body>
    <div class="container">
        {{ content | safe }}
    </div>
    </body>
    <script type="module" src="/js/{{ js }}"></script>
</html>