<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link
  rel="stylesheet"
  href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
        <!-- add after bootstrap.min.js -->
        <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>
        <title>{{ title }}</title>
        {% for style in styles %}
            <link rel="stylesheet" href="/css/{{ style }}">
        {% endfor %}
    </head>
    <body data-spy="scroll" data-target="#toc">
    <div class="container">
        <div class="row">
    <div class="col-xs-12 col-sm-3">
        <nav id="toc" data-toggle="toc"></nav>
    </div>
        <div class="col-xs-12 col-sm-9">
              {{ content | safe }}
        </div>
        </div>
    </div>
    </body>
    <script type="module">
    import renderMathInElement from "https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.mjs";
    renderMathInElement(document.body);
    </script>
    <script type="module" src="/js/{{ js }}"></script>
</html>